<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="genlist-normal">
	<div class="ui-header" data-position="fixed">
		<h1>Normal anchor lists</h1>
	</div>
	<div class="ui-content" data-scroll="y">
		<form>
		<ul class="ui-listview">

			<li class="ui-li-anchor">
				<a href="#">
					1line
				</a>
			</li>

			<li class="ui-li-anchor">
				<a href="#">
					1line-sub
					<span class="li-text-sub">Sub text</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-right-btn">
				<a href="#">
					1line-btn1
					<div class="ui-btn" data-inline="true">Text Button</div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-right-circle-btn">
				<a href="#">
					1line-btn2
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-right-btn">
				<a href="#">
					1line-toggle
					<select name="flip-11" id="flip-11" data-role="slider">
						<option value="off"></option>
						<option value="on"></option>
					</select>
				</a>
			</li>

			<li class="ui-li-anchor li-has-thumb">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-bigicon1
				</a>
			</li>

			<li class="ui-li-anchor li-has-thumb">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-bigicon2
					<span class="li-text-sub">Sub text</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-thumb li-has-right-btn">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-bigicon4
					<div class="ui-btn" data-inline="true">Text Button</div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-thumb li-has-right-circle-btn">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-bigicon5
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-thumb li-has-right-btn">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-bigicon6
					<select name="flip-12" id="flip-12" data-role="slider">
						<option value="off"></option>
						<option value="on"></option>
					</select>
				</a>
			</li>

			<li class="ui-li-anchor">
				<a href="#">
					<input type="checkbox" name="c1line-check1" />
					1line-check1
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-right-circle-btn">
				<a href="#">
					<input type="checkbox" name="c1line-check2" />
					1line-check2
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-thumb">
				<a href="#">
					<input type="checkbox"  name="c1line-check3" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-check3
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-thumb li-has-right-circle-btn">
				<a href="#">
					<input type="checkbox"  name="c1line-check4" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-check4
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-radio">
				<a href="#">
					<input type="radio" name="1line-radio" />
					1line-radio1
				</a>
			</li>

			<li class="ui-li-anchor li-has-radio li-has-right-circle-btn">
				<a href="#">
					<input type="radio" name="1line-radio" />
					1line-radio3
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-radio li-has-thumb">
				<a href="#">
					<input type="radio" name="1line-radio" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					1line-radio4
				</a>
			</li>

			<li class="ui-li-anchor li-has-radio li-has-thumb li-has-right-circle-btn">
				<a href="#">
					<input type="radio" name="1line-radio" />
					1line-radio5
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					<div class="ui-btn" data-inline="true" data-icon="plus" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-radio li-has-thumb">
				<a href="#">
					<input type="radio" name="1line-radio" />
					1line-radio6
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline">
				<a href="#">
					2line
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline">
				<a href="#">
					2line-2sub
					<span class="li-text-sub">Subtext</span>
					<span class="li-text-sub2">Subtext2</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-btn">
				<a href="#">
					2line-btn1
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true">button</div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-btn">
				<a href="#">
					2line-btn1
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-circle-btn">
				<a href="#">
					2line-btn2
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-btn">
				<a href="#">
					2line-toggle-setting
					<span class="li-text-sub">Subtext</span>
					<select name="flip-13" id="flip-13" data-role="slider">
						<option value="off"></option>
						<option value="on"></option>
					</select>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-circle-btn">
				<a href="#">
					2line-btn-setting
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-3-lines li-has-right-circle-btn">
				<a href="#">
					3line-btn-setting
					<span class="li-text-sub">Subtext</span>
					<span class="li-text-sub3">Long subtext line (-sub3)</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-right-circle-btn">
				<a href="#">
					2line-bigicon0
					<span class="li-text-sub">Subtext<img class="li-icon-sub" src="images/00_winset_icon_favorite_on.png" alt="favorite"></span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-thumb">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-bigicon1
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-thumb">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-bigicon2
					<span class="li-text-sub">Subtext</span>
					<span class="li-text-sub2">Subtext2</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-thumb li-has-right-circle-btn">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-bigicon4
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline">
				<a href="#">
					<input type="checkbox"  name="c2line-check1" />
					2line-check
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline li-has-right-circle-btn">
				<a href="#">
					<input type="checkbox"  name="c2line-check2" />
					2line-check2
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline li-has-thumb">
				<a href="#">
					<input type="checkbox"  name="c2line-check3" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-check3
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline li-has-radio">
				<a href="#">
					<input type="radio" name="2line-radio" />
					2line-radio1
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline li-has-radio li-has-thumb">
				<a href="#">
					<input type="radio" name="2line-radio" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-radio2
					<span class="li-text-sub">Subtext</span>
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-thumbnail-right li-has-thumb">
				<a href="#">
					2line-thumb1
					<span class="li-text-sub">Subtext</span>
					<img src="images/large_thumbnail.jpg" alt="Photo ID" class="li-thumb">
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-thumbnail-right li-has-thumb">
				<a href="#">
					<span class="li-text-sub">Subtext</span>
					2line-sub-main-bigicon1
					<img src="images/large_thumbnail.jpg" alt="Photo ID" class="li-thumb">
				</a>
			</li>

			<li class="ui-li-anchor li-has-multiline li-has-thumb">
				<a href="#">
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					<div data-role="progressbar" id="progressbar"></div>
				</a>
			</li>

			<li class="ui-li-anchor li-has-checkbox li-has-multiline li-has-thumb li-has-right-circle-btn">
				<a href="#">
					<input type="checkbox"  name="c2line-icon-bigicon-btn" />
					<img src="images/thumbnail.jpg" alt="icon" class="li-thumb">
					2line-3items
					<span class="li-text-sub">Subtext</span>
					<div class="ui-btn" data-inline="true" data-icon="call" data-style="circle"></div>
				</a>
			</li>

		</ul>
		<form>
	</div>
</div>
</body>
</html>
