<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="select-all-page">
    <div class="ui-header" data-position="fixed">
        <h1>Select List</h1>
    </div>
    <div class="ui-content">
        <ul class="ui-listview" id="select-list">
            <li class="ui-li-static li-select-all li-check-all">
                <label>
                    Select all
                    <input type="checkbox" id="select-all" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 1
                    <input type="checkbox" id="check1" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 2
                    <input type="checkbox" id="check2" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 3
                    <input type="checkbox" id="check3" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 4
                    <input type="checkbox" id="check4" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 5
                    <input type="checkbox" id="check5" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 6
                    <input type="checkbox" id="check6" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 7
                    <input type="checkbox" id="check7" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 8
                    <input type="checkbox" id="check8" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 9
                    <input type="checkbox" id="check9" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 10
                    <input type="checkbox" id="check10" />
                </label>
            </li>
            <li class="ui-li-static li-select-all">
                <label>
                    List item 11
                    <input type="checkbox" id="check11" />
                </label>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="list-select-check.js"></script>
</div>
</body>
</html>
