<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
	<div class="ui-page" id="tabs">
		<div class="ui-header" data-position="fixed">
			<h1>Tizen Web UI</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-anchor"><a href="./tabs_text_only.html">Text only</a></li>
				<li class="ui-li-anchor"><a href="./tabs_with_icon.html">With icon</a></li>
				<li class="ui-li-anchor"><a href="./tabs_text_with_title.html">Text with title</a></li>
				<li class="ui-li-anchor"><a href="./tabs_icon_with_title.html">Icon with title</a></li>
				<li class="ui-li-anchor"><a href="./tabs_with_badge.html">With badge</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
