<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="activitybar-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Progress-activity bar</h1>
	</div><!-- /header -->
	<div class="ui-content">
		<ul data-role="listview">
			<li class="ui-li-static"><div data-type="activitybar" class="ui-progress"></div></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>