<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="progress-demo">
	<div data-role="header" data-position="fixed">
		<h1>progress</h1>
	</div><!-- /header -->
	<div data-role="content">
		<ul class="ui-listview">
			<li class="ui-group-index">type</li>
			<li class="ui-li-anchor"><a href="./activitycircle.html">Activity circle</a></li>
			<li class="ui-li-anchor"><a href="./activitybar.html">Activity bar</a></li>
			<li class="ui-li-anchor"><a href="./progresscircle.html">Progress circle</a></li>
			<li class="ui-li-anchor"><a href="./progressbar.html">Progress bar</a></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>