<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="rightTextButtonPage">
	<div class="ui-header" data-position="fixed">
		<h1>Right button</h1>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-right">DONE</a>
	</div>
	<div class="ui-content">
		<ul class="ui-listview">
			<li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
		</ul>
	</div>
</div>
</body>
</html>
