<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<h1>Checkbox</h1>
		</div>
		<div class="ui-content">
			<input type="checkbox" name="checkbox-1" id="checkbox-1"/>
			<label for="checkbox-1">Normal</label><br>

			<input type="checkbox" name="checkbox-2" id="checkbox-2" checked="checked"/>
			<label for="checkbox-2">Normal</label><br>

			<input type="checkbox" name="checkbox-3" id="checkbox-3" checked="checked" disabled="disabled" />
			<label for="checkbox-3">Checked, Disabled</label><br>

			<input type="checkbox" name="checkbox-4" id="checkbox-4" disabled="disabled" />
			<label for="checkbox-4">Disabled</label><br>

			<div class="checkbox-result">The First Checkbox is ...</div>

			<input type="checkbox" name="favorite-1" id="favorite-1" class="favorite" />
			<label for="favorite-1">Favorite</label><br>

			<input type="checkbox" name="favorite-2" id="favorite-2" checked="checked" class="favorite" />
			<label for="favorite-2">Favorite</label><br>

			<input type="checkbox" name="favorite-3" id="favorite-3" checked="checked" disabled="disabled" class="favorite" />
			<label for="favorite-3">Favorite Checked, Disabled</label><br>

			<input type="checkbox" name="favorite-4" id="favorite-4" disabled="disabled" class="favorite" />
			<label for="favorite-4">Favorite, Disabled</label><br>
			<div class="favorite-result">The First Favorite is ...</div>
		</div>
		<link rel="stylesheet" href="styles.css" />
		<script src="checkbox.js"></script>
	</div>
</body>
</html>
