<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
		<link rel="stylesheet" href="../../css/style.css">
		<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	</head>
	<body>
		<div class="ui-page" id="slider-demo">
			<div class="ui-header" data-position="fixed">
				<h1>Slider</h1>
			</div>
			<div class="ui-content">
				<ul class="ui-listview">
					<li class="ui-group-index">Normal slider</li>
					<li class="ui-li-static"><input id="normal" name="mySlider1" type="range" value="5" min="0" max="10" /></li>
					<li class="ui-group-index">Center slider</li>
					<li class="ui-li-static"><input id="center_normal" name="mySlider3" type="range" data-type="center" value="5" min="0" max="10"></li>
					<li class="ui-group-index">Virtical slider</li>
					<li class="ui-li-static vertical-list" style="height: 300px">
						<input id="vertical_normal" name="mySlider5" type="range" data-orientation="vertical" value="50" min="0" max="99"/>
					</li>
					<li class="ui-group-index">Virtical center slider</li>
					<li class="ui-li-static vertical-list" style="height: 300px">
						<input id="vertical_center_normal" name="mySlider6" type="range" data-type="center" data-orientation="vertical" value="5" min="0" max="10"/>
					</li>
				</ul>
			</div><!-- /content -->
		</div> <!-- /page -->
	</body>
</html>
